@charset "UTF-8";

.header {
	align-content: end;
	width: 90%;	
	margin: 0 auto;
	
}

.LoginDateTime {
	display: flex;
	justify-content: end;
	
}

.rist {
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	padding: 200px 0 200px 0;
	margin: 0 auto;
	border-top: solid 1px;
	border-bottom: solid 1px;

}

.rule{
	font-size: small;
	
}

.item{
    align-items: center;
	padding: 15px
}

label {
	padding-right: 15px;
}

input {
	height: 30px;
	border: 1px solid;
}

.button{
	display: flex;
	justify-content: center;
	
}

button{
	margin: 10px;
}

.search{
	background-color: lemonchiffon;
	border: 1px solid;
}

.delete{
	background-color: lightcoral;
	border: 1px solid;
}

.menu{
	background-color: aliceblue;
	border: 1px solid;
}

footer {
	display: flex;
	width: 90%;
	margin: 0 auto;
    justify-content: end;
    font-size: small;
    margin-bottom: 10px;
}