@charset "UTF-8";

.header {
	display: flex;
	align-content: end;
	width: 90%;	
	margin: 0 auto;
	
}

.rist {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	border-top: solid 1px;
	border-bottom: solid 1px;
}

.item{
	display: flex;
    align-items: flex-start;
	justify-content: flex-start;
	padding: 15px;
}

.formTitle{
	display: flex;
		flex-direction: column;
}
		
label {
	width: 150px;
	text-align: left;
	padding-right: 15px;
	padding-top: 4px;
}

.rule{
	font-size: 10px;
}

input {
	width: 150px;
	height: 30px;
	border: 1px solid;
}

.errorMsg {
	font-size: 10px;
	margin-top: 3px;
}

.inputForm {
	display: flex;
	flex-direction: column;
}

.button{
	display: flex;
	justify-content: center;
	
}

button{
	margin: 10px;
}

.check{
	background-color: lemonchiffon;
	border: 1px solid;
}

.delete{
	background-color: lightcoral;
	border: 1px solid;
}

.back{
	background-color: white;
	border: 1px solid;
}

footer {
	display: flex;
	width: 90%;
	margin: 0 auto;
    justify-content: end;
    font-size: small;
    margin-bottom: 10px;
}