@charset "UTF-8";

.header {
	display: flex;
	align-content: end;
	width: 90%;	
	margin: 0 auto;
	
}

.text {
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	padding: 200px 0 200px 0;
	margin: 0 auto;
	border-top: solid 1px;
	border-bottom: solid 1px;
}

.button{
	display: flex;
	justify-content: center;
}

button{
	margin: 10px;
}

.menu{
	background-color: aliceblue;
	border: 1px solid;
}

.select{
	background-color: lemonchiffon;
	border: 1px solid;
}

footer {
	display: flex;
	width: 90%;
	margin: 0 auto;
    justify-content: end;
    font-size: small;
    margin-bottom: 10px;
}		
