@charset "UTF-8";

.header {
	display: flex;
	align-content: end;
	width: 90%;	
	margin: 0 auto;
	
}

.rist {
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	border-top: solid 1px;
	border-bottom: solid 1px;
}

.item{
    align-items: center;
	padding: 15px
}
		
label {
	padding-right: 15px;
}

input {
	height: 30px;
}

.msg{
	text-align: center;
}

.button{
	display: flex;
	justify-content: center;
}

button{
	margin: 10px;
}

footer {
	display: flex;
	width: 90%;
	margin: 0 auto;
    justify-content: end;
    font-size: small;
    margin-bottom: 10px;
}
