<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社員情報登録（完了）</title>
    <link rel="stylesheet" href="resultb.css">
</head>
<body>
    <div class="container">
        <h1 class="title">社員情報登録（完了）</h1>
        <div class="box">
            <p>社員情報の登録が完了しました。</p>
        </div>
        
         <div class="footer">
  	<div class="line"></div>
  	<p class="copyright">Copyright © 2022</p>
		</div>
		
        <div class="buttons">
            <div><button class="menu-btn">メニュー</button></div>
            <div><button class="search-btn">検索へ</button></div>
       
</body>
</html>

