<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/updateForm.css">
	<script src="/updateForm.js" defer></script>
    <title>社員情報更新画面</title>
</head>
<body>
	
	<div class="header">
	  <header>
		<h2><span style="color: red;">社員情報更新(入力)</span></h2>
		
	  </header>
	</div>
	
   <div class="wrapper">
    <form action="/updateCheck" method="post" id="updateForm">
      <div class="rist">
        <div class="item">
            <label for="id">社員ID</label>
            <input type="number" pattern="^[0-9]+$" id="id" name="id" th:value="${id}" style="background-color: lightgray" readonly>
        </div> 
        <div class="item">
            <label for="name">社員名<span style="color: red;">＊</span></label>
            <input type="text" id="name" name="name" th:value="${name}">
        </div>
        <div class="item">
            <label for="age">年齢<span style="color: red;">＊</span></label>
            <input type="number" pattern="^[0-9]+$" minlength="2" maxlength="3" id="age" name="age" th:value="${age}">
        </div>
        <div class="item"> 
            <label for="password">パスワード<span style="color: red;">＊</span></label>
            <input type="password" pattern="^[a-zA-Z0-9]+$" minlength="8" id="password" name="password" th:value="${password}">
        </div>
        <div class="item">
            <label for="passwordCheck">パスワード確認</label>
            <input type="password" pattern="^[a-zA-Z0-9]+$" minlength="8" id="passwordCheck" name="passwordCheck" th:value="${passwordCheck}">
        </div> 
        <div class="item">
            <label for="start_date">開始日<span style="color: red;">＊</span></label>
            <input type="date" id="start_date" name="start_date" th:value="${start_date}">
        </div> 
        <div class="item">
            <label for="end_date">終了日</label>
            <input type="date" id="end_date" name="end_date" th:value="${end_date}">
        </div>  
      </div>
	</form>   
 
	  <div class="button">
	  		<button class="check" type="submit" form="updateForm">確認</button>
	  	    <button class="delete" type="button" onclick="formReset()">削除</button>
		<form action="/idSearch" method="post">	 
			<input type="hidden" name="id" th:value="${id}">  
	  	    <button class="back" type="submit" name="back_button" value="back">戻る</button>
		</form>	   
	   </div>

   </div> 
   
   <footer>
	<p>Copyright &copy; 2022</p>
   </footer>
    
</body>
</html>