<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/updateForm.css">
	<script src="/updateForm.js" defer></script>
    <title>社員情報更新画面</title>
</head>
<body>
   <div class="wrapper">
    <form action="/updateCheak" method="post" id="updateForm">
      <div class="rist">
        <div class="id">
          <label for="id">社員ID</label>
          <input type="number" id="id" name="id">
        </div> 
        <div class="name">
            <label for="name">社員名<span style="color: red;">＊</span></label>
            <input type="text" id="name" name="name" >
        </div>
        <div class="age">
            <label for="age">年齢<span style="color: red;">＊</span></label>
            <input type="number" id="age" name="age">
        </div>
        <div class="password"> 
            <label for="password">パスワード<span style="color: red;">＊</span></label>
            <input type="password" pattern="^[a-zA-Z0-9]+$" minlength="8" id="password" name="password">
        </div>
        <div class="passwordCheck">
            <label for="passwordCheck">パスワード確認</label>
            <input type="password" pattern="^[a-zA-Z0-9]+$" minlength="8" id="passwordCheck" name="passwordCheck" >
        </div> 
        <div class="start_date">
            <label for="start_date">開始日<span style="color: red;">＊</span></label>
            <input type="date" id="start_date" name="start_date">
        </div> 
        <div class="end_date">
            <label for="end_date">終了日</label>
            <input type="date" id="end_date" name="end_date">
        </div>  
      </div> 
	  
	  <div class="button">
	  		   <button type="submit">確認</button>
	  	       <p class="delete">削除</p>
	  	       <p class="back">戻る</p>
	       </div>
    </form>
	
	
   </div>  
</body>
</html>